/***************************/
/* classes			       */
/***************************/
.slide-right {
    animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.slide-left {
    animation: slide-left 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

.fade-in {
    animation: fade-in 6s ease-in-out;
}

.zoom-in {
    animation: fade-in 6s ease-in-out forwards;
}

/***************************/
/* keyframes		       */
/***************************/
@keyframes mySlide {
    100% {
        right: 0;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(400px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoom-in {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes openCard {
    0% {
        opacity: 1;
    }

    100% {
        max-width: 300px;
    }
}

@keyframes animateCircle {

    0% {
        border-radius: var(--br-r);
        transform: translateY(0) translateX(0) rotate(0) scale(1);
    }

    25% {
        border-radius: 25%;
        transform: translateY(-10px) translateX(10px) rotate(10deg) scale(0.9);

    }

    50% {
        border-radius: var(--br-r);
        transform: translateY(0) translateX(0) rotate(0) scale(0.8);
    }

    50% {
        border-radius: 25%;
        transform: translateY(10px) translateX(-10px) rotate(-10deg) scale(0.9);
    }

    100% {
        border-radius: var(--br-r);
        transform: translateY(0) translateX(0) rotate(0) scale(1);
    }

}

@keyframes animateCard {

    0% {
        transform: translateY(0) translateX(0) rotate(0) scale(1);
    }

    25% {
        transform: translateY(-10px) translateX(10px) rotate(10deg) scale(0.9);

    }

    50% {
        transform: translateY(0) translateX(0) rotate(0) scale(0.8);
    }

    50% {
        transform: translateY(10px) translateX(-10px) rotate(-10deg) scale(0.9);
    }

    100% {
        transform: translateY(0) translateX(0) rotate(0) scale(1);
    }

}

@keyframes knowledge {

    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }

}

@keyframes bubbles {
    to {
        transform: translateY(1000px) rotateZ(360deg) rotateX(360deg) rotateY(360deg);
        opacity: 0;
    }

}

@keyframes stadningKnowledgeSpan {

    0% {
        transform: scale(1);
        border-radius: 0;
    }

    50% {
        transform: scale(1.1);
        border-radius: 50%;
    }

    100% {
        transform: scale(1);
        border-radius: 0;
    }

}

@keyframes holdIt {

    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }

}