.container, .container-fluid {
    display: grid;
    position: relative;
    padding: var(--space-p) 0;
    overflow: hidden;
    max-width: 80vw;
    width: 100%;
}

.container-fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    justify-items: center;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.gap {
    gap: 1em;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}