/***************************/
/* Grid	desktop:		   */
/***************************/
@media only screen and (min-width: 1180px) {
    .col-lg-1 {width: 8.33%;}
    
    .col-lg-2 {width: 16.66%;}

    .col-lg-3 {width: 25%;}

    .col-lg-4 {width: 33.33%;}

    .col-lg-5 {width: 41.66%;}

    .col-lg-6 {width: 50%;}

    .col-lg-7 {width: 58.33%;}

    .col-lg-8 {width: 66.66%;}

    .col-lg-9 {width: 75%;}

    .col-lg-10 {width: 83.33%;}

    .col-lg-11 {width: 91.66%;}

    .col-lg-12 {width: 100%;}
}

/***************************/
/* Grid	Tablet & Mobile	   */
/***************************/
@media only screen and (min-width: 150px) and (max-width: 1180px) {

    .styleMain {
        h2 {
            font-size: 150%;
        }

        p {
            font-size: 195%;
            text-align: center;
        }
    }

    .styleFooter {
        max-height: 62em;
    }

    .forumPicture {
        padding: 25.25% 0 0 0;
    }

    .sub {
        min-width: 100%;
    }

    .headerBox {
        min-height: 25em;
        height: auto;
    }

    .menu {
        display: block;
    }

    .navControl {
        display: block;
    }

    #header {
        nav {
            display: none;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: auto;
            margin: 0;

            li {
                display: block;
                margin: 0.3em;
                box-shadow: var(--b-shadow);
                font-size: 85%;
                background: rgb(255, 255, 255);

                &:hover {
                    background-color: rgb(0, 126, 167);
                }
            }

            a {
                padding: 0.5em 0;
                color: rgb(0, 0, 0);

                &:hover {
                    transition: all 0.2s ease-in-out;
                    color: rgb(255, 255, 255)
                }
            }
        }
    }
    

    .indexBanner h2,
    .styleNews h2 {
        font-size: var(--fs-h3);
    }

    .project {
        .container {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
            align-content: center;
            justify-items: stretch;
        }

        .item {
            text-align: center;
            color: #FFF;
            opacity: 0.95;
            border-radius: 10px;
            gap: 1em 0.5em;

            &:nth-child(n+1) {
                grid-column: 1 / span 6;
            }
        }

        .centerPanel {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;

            img {
                min-width: 10%;
            }

        }
    }
}

/***************************/
/* Grid	Tablet			   */
/***************************/
@media only screen and (min-width: 750px) and (max-width: 1180px) {

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }

    .w1 {
        font-size: 230%;
    }

    .removeM {
        display: none;
    }

    .indexBanner .circleImg,
    .styleLight .circleImg {
        width: 7em;
        height: 7em;
    }

    .project {
        background-image: linear-gradient(to left, var(--g-color) 0%, var(--g-color2) 100%);

        .container {
            margin: 5em auto;
            padding: 1em;
            width: 80%;
        }
    }

}

/***************************/
/* Grid	Mobile			   */
/***************************/
@media only screen and (min-width: 150px)and (max-width: 750px) {

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .activate3d {
        perspective: 0;
    }

    .styleMain p {
        font-size: 150%;
        word-wrap: break-word;
    }

    .w1 {
        font-size: 150%;
    }

    .removeSM {
        display: none;
    }

    .logoImage {
        float: none;
        margin: 1em auto 0 auto;
        max-width: 100px;
    }

    .logo {
        justify-content: center;

        p {
            display: none;
        }
    }

    .indexBanner .circleImg,
    .styleLight .circleImg {
        border-radius: var(--br-r);
        width: 6em;
        height: 6em;
    }

    .project {
        background-image: linear-gradient(to left, var(--g-color) 0%, var(--g-color2) 100%);

        .container {
            margin: 5em auto;
            padding: 1em;
            width: 100%;
            max-width: 100%;
        }
    }

    .leftPanel {
        margin: 0;
        max-height: 100%;
        position: relative;

        .box3d {
            transform: rotateY(0deg);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 0.3em;
            box-shadow: none;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

    .centerPanel {
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        z-index: 1;

        img {
            min-width: 15%;
            max-width: 25%;
            height: 100%;
        }

    }

    .rightPanel {
        margin: 0;
        max-height: 100%;
        position: relative;

        .box3d {
            transform: rotateY(0deg);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            box-shadow: none;
            border-radius: 0.3em;

            img {
                width: 100%;
                height: 100%;
            }

            h3 {
                text-align: center;
                padding: 2em 0 0 0;
            }

            p {
                padding: 0 1em;
            }
        }
    }

    .hero {

        h1 {
            font-size: var(--fs-h3);
        }
    }

}
