/***************************/
/* content style		   */
/***************************/
.styleSimple {
    position: relative;
    background-color: hsl(var(--white));
    overflow: hidden;
    padding: var(--space-p-xLarge) 0;
    clear: both;
}

.styleSimple :is(h2, h3, h4) {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
    font-weight: var(--fw-n);
    --color: 0.61 0.12 0.32;
    color: hsl(var(--color));
    text-align: center;
    line-height: 1.2em;
    margin: var(--space-m) 0;
}

.styleSimple h2 {
    font-size: var(--fs-h2);
    text-shadow: var(--t-shadow);
    margin: var(--space-m-small) 0 var(--space-m-medium) 0;
}

.styleSimple h3 {
    font-size: var(--fs-h3);
}

.styleSimple h4 {
    font-size: 130%;
    margin: var(--space-m) 0 0 0;
}

.styleSimple p {
    font-size: var(--fs-p);
    --color: 0 0% 33%;
    color: hsl(var(--color));
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

:is(.styleSimple .circleImg) {
    border-radius: var(--br-r);
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: var(--b-shadow);
    position: relative;
}

:is(.circleImgSmall) {
    position: absolute;
    border-radius: var(--br-r);
    width: 7em;
    height: 7em;
    box-shadow: var(--b-shadow);
    background-color: hsl(var(--bg-color) / 0.3);
    animation: animateCircle 15s infinite ease-in-out,
        fade-in 3s ease-in 1;
}

.smallCard {
    position: absolute;
    width: 100%;
    max-width: 45em;
    box-shadow: var(--b-shadow);
    background-color: hsl(var(--bg-color) / 0.3);
    height: auto;
    margin: var(--space-m);
}

:is(.smallCard) img {
    padding: var(--space-p-small);
    width: 100%;
    overflow: hidden;
}

.circleImgSmall figcaption {
    text-align: center;
    color: hsl(var(--color));
}

:is(.circleImgSmall) img {
    padding: 1.5em;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hover:hover {
    --bg-color: 0 0% 0%;
    background-color: hsl(var(--bg-color) / 0.2);
    border-bottom-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.styleEvents {
    padding: 5em 0 5em 0;
}

.styleOverlay {
    --color: 0 0% 0%;
    color: hsl(var(--color));
    background-color: hsl(var(--bg-color));
    overflow: hidden;
    padding: 0 0 6em 0;
    clear: both;
}

/***************************/
/* combine 		   		   */
/***************************/
:is(.styleLight, .styleEvents) h2 {
    text-shadow: var(--t-shadow);
    --color: 0.61 12% 32%;
    color: hsl(var(--color));
    margin: 0.5em 0 0 0;
}

.project h2 {
    text-align: center;
    color: hsl(var(--color));
    font-weight: var(--fw-m);
    font-size: var(--fs-h2);
}

.styleLight, h3 {
    font-size: 150%;
    font-weight: var(--fw-m);
    --color: 0.61 12% 32%;
    color: hsl(var(--color));
    text-align: left;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
}

:is(.styleLight, .styleEvents) p {
    font-size: 120%;
    color: hsl(var(--color));
    width: 100%;
    margin: 1em auto;
}

.taskBox {
    position: relative;
    top: -50px;
}

.headerBox {
    position: relative;
    background: url("/resources/images/background/boxes.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 35em;
    height: auto;
    overflow: hidden;
}

.headerBox .bgBox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    --bg-color: 0.54 100% 33%;
    background-color: hsl(var(--bg-color) / 0.9);
    box-shadow: var(--b-shadow);
    padding: 5% 1em 1em 1em;
}

.headerBox h2 {
    color: hsl(var(--color));
    font-weight: var(--fw-n);
    text-shadow: var(--t-shadow);
}

.headerBox .bgBox p {
    text-align: center;
    padding: 1em 0 2em 0;
    color: hsl(var(--color));
    font-size: 110%;
    text-shadow: var(--t-shadow);
    letter-spacing: 0.2em;
}

.styleOverlay h2 {
    font-size: 180% !important;
    text-align: center;
    text-shadow: none;
    --color: 0.61 12% 32%;
    color: hsl(var(--color));
    font-weight: var(--fw-n);
    margin: 0 0 0 0 !important;
    border-bottom: 0.1em solid hsl(var(--border-color) / 0.1)
}

/***************************/
/* style h3	   			   */
/***************************/


.task h3 {
    margin: 1.5em 0 0 0;
}

.task li {
    margin: 0.7em 0;
}

.styleEvents h3 {
    text-align: center;
    font-size: 280%;
    color: hsl(var(--color));
}

.styleEvents h3 {
    font-size: 180%;
    font-weight: var(--fw-m);
    margin: 3em 0 2em 0;
}

.styleOverlay h3 {
    text-align: left;
    font-size: 130%;
    font-weight: var(--fw-n);
    text-transform: capitalize;
    --color: 0 0% 20%;
    color: hsl(var(--color));
}

/***************************/
/* style h4	   			   */
/***************************/
.styleLight h4 {
    font-size: 120%;
    font-weight: var(--fw-m);
    --color: 0.61 12% 32%;
    color: hsl(var(--color));
    text-align: justify;
    margin: 1.5em 0 3em 0;
}

.difficultyPos {
    position: relative;
    top: 2em;
    left: 0;
    font-size: 120%;
    font-weight: var(--fw-m);
    color: hsl(var(--color));
    text-align: center;
    --bg-color: 0.57 100% 17%;
    background-color: hsl(var(--bg-color));
    width: 5em;
}

.styleOverlay h4 {
    font-size: 115%;
    font-weight: var(--fw-n);
    text-transform: capitalize;
    color: hsl(var(--color));
}

/***************************/
/* style p 				   */
/***************************/
.styleEvents p {
    text-align: center;
    margin: 1em auto 4em auto;
}

.styleLight p span {
    font-size: 85%;
    text-align: justify;
    max-width: 25em;
    width: 100%;
    --color: 0 0% 33%;
    color: hsl(var(--color));
    margin: 0 auto;
}

.styleOverlay p {
    font-size: 100%;
    --color: 0.61 7% 52%;
    color: hsl(var(--color));
}

/***************************/
/* style a / hover		   */
/***************************/
:is(.styleLight, .styleOverlay) a {
    --color: 0 0% %;
    color: hsl(var(--color));
    text-decoration: none;
    text-shadow: none;
}

:is(.styleLight, .styleOverlay, .shareButton) a:hover {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.shareButton {
    text-align: center;
}

.shareButton img {
    width: 100%;
}


:is(.boxColor1, .boxColor2, .boxColor3, .boxColor4, .boxColor5) {
    overflow: hidden;
    position: relative;
    --bg-color: 0.11 35% 62%;
    background-color: hsl(var(--bg-color) / 0.9);
}

.boxColor2 {
    --bg-color: 0.10 36% 61%;
}

.boxColor3 {
    --bg-color: 0.10 38% 60%;
}

.boxColor4 {
    --bg-color: 0.12 34% 63%;
}

.boxColor5 {
    --bg-color: 0.13 32% 64%;
}

.boxnews {
    overflow: hidden;
    height: 50em;
    margin: 2em 0 2em 0;
    position: relative;
}

.link:hover {
    --bg-color: 0 76% 45%;
    background-color: hsl(var(--bg-color)) !important;
}

/***************************/
/* style ul / li		   */
/***************************/
:is(.categoryMenu, .styleOverlay) li {
    text-align: left;
    margin: 0 0.5em;
    padding: 0.3em 0;
    display: block;
    color: rgba(0, 0, 0, 1);
    display: flex;
    --border-color: 0 0 96%;
    border-bottom: 0.07em solid hsl(var(--border-color));
}

:is(.categoryMenu, .styleOverlay) li:hover {
    --bg-color: 0 0 96%;
    background-color: hsl(var(--bg-color) / 0.8);
}

:is(.categoryMenu, .styleOverlay) li p {
    margin: 0 0 0 1em;
    font-size: 85%;
    font-weight: var(--fw-n);
}

:is(.categoryMenu, .styleOverlay) li img {
    margin: 0;
    max-width: 20px;
    height: 20px;
}

.styleOverlay li {
    margin: 1em 0.5em;
    padding: 0.5em 0;
}

.styleOverlay li img {
    max-width: 25px;
    height: 25px;
}

/***************************/
/* style img	   		   */
/***************************/
.boxImg {
    position: relative;
    height: 30em;
    background-image: url("/resources/images/background/you_can_also.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imageSmall {
    width: 3em;
    height: auto;
    float: left;
    margin: 0.7em 2em 0 0;
    border-radius: var(--br-r);
}

.styleOverlay img {
    display: block;
    margin: 0 auto;
    opacity: 0.3;
}

:is(.styleLight) .circleImg {
    border-radius: var(--br-r);
    max-width: 10em;
    width: 100%;
    max-height: 10em;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: var(--b-shadow);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleImg img {
    width: 100%;
    height: 100%;
}

.imageFeed {
    padding: 0 0.5em 1em 0;
}

.imageFeed img {
    width: 100%;
    height: auto;
    box-shadow: var(--b-shadow);
    --border-color: 0 0% 100%;
    border: 0.3em solid hsl(var(--border-color) / 0.2);
}

.image {
    position: relative;
    padding: 55.25% 0 0 0;
}

.image img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.image figcaption {
    text-transform: capitalize;
    text-shadow: var(--t-shadow);
    text-align: center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-size: 0.85em;
    font-weight: var(--fw-b);
    color: hsl(var(--color));
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 0.4em;
    margin: 0.5em;
}

.image2 {
    position: relative;
    padding: 85.25% 0 0 0;
}

.image2 figcaption {
    text-transform: capitalize;
    padding: 0.1em 0.1em;
    margin: 1em 0 0 0;
    text-align: center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-size: 80%;
    --color: 0 0% 0%;
    color: hsl(var(--color));
    text-decoration: none !important;
}

.image3 img {
    width: 15%;
    float: left;
    margin: 0.5em 0.5em;
}

/***************************/
/* style misc 			   */
/***************************/
.styleLight .uploadImageBox {
    position: relative;
    width: 100%;
    height: 7em;
    box-shadow: 0 0 0.5em hsl(var(--box-shadow-color) / 0.1);
    margin: 0.3em 0;
    overflow: hidden;
}

.styleLight .uploadImageBox img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: auto;
}

.styleLight .uploadImageBox p {
    margin: 2em 0 0 0;
    --color: 0 0% 0%;
    color: hsl(var(--color));
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-size: 120%;
}

/* offer */
.tit {
    font-size: 180%;
    --color: 0.61 12% 32%;
    color: hsl(var(--color));
    line-height: 1.2em;
    text-align: left;
    font-weight: var(--fw-n);
    letter-spacing: 0.1em;
    margin: 1em 0 0.5em 0;
}

:is(.sub, .sub) {
    font-size: 120%;
    --color: 0 0% 33%;
    color: hsl(var(--color));
    width: 100%;
    height: 100%;
    text-align: justify;
    margin: 0;
}

.productBorder {
    position: relative;
    box-shadow: var(--b-shadow);
}

.styleOverlay .max {
    text-align: center;
    margin: 0 auto 55px;
    max-width: 600px;
}

/***************************/
/* boxOverlay			   */
/***************************/
.bodyOverlay {
    display: none;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --bg-color: 0 0% 0%;
    background-color: hsl(var(--bg-color) / 0.5);
    z-index: 3;
}

.sideNav {
    display: none;
    height: 100%;
    width: 100%;
    max-width: 50%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: hsl(var(--bg-color));
    border-bottom: 0.1em solid hsl(var(--border-color) / 0.1);
    box-shadow: var(--b-shadow);
    overflow-x: hidden;
    overflow-y: auto;
}

#map {
    position: relative;
    width: 100%;
    height: 35em;
    overflow: hidden;
}

:is(#searchInformation, #crimeInformation) {
    display: none;
    background-color: hsl(var(--bg-color) / 0.8);
    ;
    width: 30%;
    height: auto;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0.5em;
    bottom: 1.3em;
    --border-color: 0.54 100% 33%;
    border-right: 5px solid hsl(var(--border-color));
    box-shadow: var(--b-shadow);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#crimeInformation {
    width: 70%;
    left: 30.5%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

:is(#searchInformation, #crimeInformation) h2 {
    text-align: center;
    font-size: 150%;
    margin: 2em 0;
}

:is(#searchInformation, #crimeInformation) p {
    font-size: 100%;
    margin: 2em 1em;
}

:is(.openSearchButton,
    #crimeButton,
    #diagramButton,
    .closeToSearchInformation) {
    width: 35px;
    height: 45px;
    margin-right: 1em;
    padding: 0.5em 2.3em 0.5em 0.3em;
    font-size: 100%;
    --color: 0 0% 0%;
    color: hsl(var(--color));
    transition: border-color .2s ease;
    background-image: url('/resources/images/svg/common-search-lookup-outline-stroke.svg');
    background-repeat: no-repeat;
    background-position: center;
    --border-color: 0.54 100% 33%;
    border-left: 5px solid hsl(var(--border-color));
    box-shadow: var(--b-shadow);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.chart-container {
    position: relative;
    left: -5%;
    height: auto;
    width: 70vw;
}

#myChart {
    margin-top: 2em;
}

#crimeButton,
#diagramButton,
.closeToSearchInformation {
    padding: 0.4em 1.5em 0.5em 1.5em;
    background-image: url('/resources/images/svg/document.svg');
    background-size: 20px;
    --bg-color: 0.54 100% 33%;
    background-color: 5px solid hsl(var(--bg-color));
    box-shadow: var(--b-shadow);
    left: 14px;
    right: auto;
    text-align: center;
    font-size: 110%;
    letter-spacing: 0.1em;
    line-height: 1.9em;
}

#diagramButton {
    background-image: url('/resources/images/svg/diagram.svg');
    left: 74px;
}

.closeToSearchInformation {
    padding: 0.5em 2.3em 0.5em 0.3em;
    background-image: url('/resources/images/svg/icon-close-round.svg');
    left: auto;
    right: 0;
}

.overlaySearchBox {
    background-color: hsl(var(--bg-color) / 0.9);
    width: 100%;
    height: 100%;
    max-width: 450px;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -225px;
}

.overlaySearchBox input {
    --br: 0.3em;
    border-radius: var(--br);
    padding: 1.7em 0 1.7em 3em !important;
    margin: 0 !important;
    --border-color: 0.57 100% 17%;
    border: 2px solid hsl(var(--border-color) / 0.9) !important;
}

.searchResults {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 206px;
    overflow-y: auto;
    box-shadow: var(--b-shadow);
}

.searchResults a {
    --border-color: 0 0& 87&;
    border: 1px solid hsl(var(--border-color));
    margin-top: -1px;
    /* Prevent double borders */
    --bg-color: 0 0% 96%;
    background-color: hsl(var(--bg-color));
    padding: 6px;
    text-decoration: none;
    font-size: 100%;
    --color: 0 0% 0%;
    color: hsl(var(--color));
    display: block;
}

.searchSub {
    font-size: 80%;
    --color: 0 0% 57%;
    color: hsl(var(--color));
}

.searchResults a:hover {
    --bg-color: 0 0% 93%;
}

.searchResults a:hover>.searchSub {
    --bg-color: 0 0% 93%;
    background-color: hsl(var(--bg-color));
}

.searchResults .select,
.searchResults .select .searchSub {
    --bg-color: 0.54 100% 33%;
    background-color: hsl(var(--bg-color));
    color: hsl(var(--color));
}

.eventImage {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 1em;
}

.crimeInfoButton {
    display: block;
    --bg-color: 0.54 100% 33%;
    background-color: hsl(var(--bg-color));
    box-shadow: var(--b-shadow);
    --br: 0.3em;
    border-radius: var(--br);
    cursor: pointer;
    font-size: 100%;
    font-weight: var(--fw-n);
    letter-spacing: 0.2em;
    line-height: 2.3em;
    width: 8em;
    height: 2.3em;
    text-align: center;
    color: hsl(var(--color));
    text-decoration: none;
}

.infoBoxType {
    margin: 0 0.5em;
    width: 40px;
    height: 40px;
    font-size: 150%;
    color: rgba(0, 0, 0, 1);
    transition: border-color .2s ease;
    --bg-color: 0.54 100% 33%;
    background-color: hsl(var(--bg-color));
    box-shadow: var(--b-shadow);
    border-radius: var(--br-r);
    float: left;
    color: hsl(var(--color));
}

.infoBoxTypeNumber {
    color: hsl(var(--color));
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    line-height: 1.9em;
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    --bg-color: 0 0% 95%;
    background-color: hsl(var(--bg-color));
}

/* Handle */
::-webkit-scrollbar-thumb {
    --bg-color: 0 0% 53%;
    background-color: hsl(var(--bg-color));
    --br: 3em;
    border-radius: var(--br);
    padding: 0.5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    --bg-color: 0 0% 33%;
}

.search-container {
    padding: 0 10px 10px 0;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: 0 0 0 -200px;
}

.search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 15px;
    border: 0;
    width: 100%;
}

.searchButton {
    position: absolute;
    right: 4px;
    top: 3px;
    border: 0;
    border-radius: 0;
    width: 65px;
    height: 35px;
    outline: 0;
    margin: 0;
}

.overlayBox_left {
    z-index: 1;
}

.overlayBox_left img {
    width: 100%;
    height: auto;
    box-shadow: var(--b-shadow);
}

.overlayBox {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    max-width: 40em;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    background-color: hsl(var(--bg-color));
    box-shadow: var(--b-shadow);
    padding: var(--space-p-medium);
    z-index: 2;
}


#overlayClose {
    --color: 0 0% 0%;
    width: 2.5em;
    height: 2.5em;
    color: var(--color);
    box-shadow: var(--b-shadow);
    text-align: center;
    border-radius: var(--br-r);
    cursor: pointer;
    line-height: 2.5rem;
    margin: 0 1em 0 0;
}

.overlayBox_right h3 {
    font-size: 150%;
    text-shadow: none;
    color: rgb(0, 0, 0);
    font-weight: var(--fw-m);
    letter-spacing: 0.1em;
}

.overlayBox_right p {
    width: 100%;
    font-size: 100%;
    --color: 0.61 7% 52%;
    color: hsl(var(--color));
    margin: 1em 0 1.5em 0;
    text-align: justify;
}

.circular {
    width: 35px;
    height: 35px;
    border-radius: var(--br-r);
    background-image: url('uploads/basic/profile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--b-shadow);
}

/***************************/
/* boxLight				   */
/***************************/
.boxLight {
    position: relative;
    text-align: left !important;
}

.boxLight h2 {
    font-size: 125%;
    letter-spacing: 0.01em;
    --color: 0.61 12% 32%;
    color: hsl(var(--color));
    padding: 0.5em 0 0 0;
    font-weight: var(--fw-m);
    text-transform: capitalize;
}

.boxLight p {
    font-size: 85%;
    letter-spacing: 0.05em;
    line-height: 1.0937;
    padding: 0.3em 0 0.8em 0;
}

.boxLight a {
    font-size: 85%;
    letter-spacing: 0.05em;
}

/***************************/
/* simple-box			   */
/***************************/
.simple-box {
    box-shadow: var(--b-shadow);
    position: relative;
}

.simple-box h2 {
    font-size: 125%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: var(--fw-n);
    text-transform: capitalize;
    text-align: left;
    margin: 0;
}

.simple-box p {
    font-size: 85%;
    --border-color: 0.61 7% 52%;
    border-bottom: 0.1em solid hsl(var(--border-color) / 0.1);
    padding: 0.3em 0 !important;
    text-align: left;
}

/***************************/
/* box right menu          */
/***************************/
.right-menu-Box h2,
.right-menu-Box p {
    font-size: 100%;
    font-weight: var(--fw-n);
    text-align: left;
    line-height: 1.2em;
}

.right-menu-Box p {
    font-size: 75%;
}

/***************************/
/* image BB code           */
/***************************/
.imageBBCode {
    position: relative;
    width: 100%;
    max-height: 30em;
}

/***************************/
/* image shared 		   */
/***************************/
.image2 img {
    position: absolute;
    width: 65%;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

:is(.image, .image2, .accountPicture) a img:hover {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    opacity: 0.5;
}

/***************************/
/* Buttons			       */
/***************************/
.btnMenu,
button,
.button,
.boxBtn {
    display: block;
    --bg-color: 19 88.1% 57.1%;
    background-color: hsl(var(--bg-color));
    box-shadow: var(--b-shadow);
    --br: 0.3em;
    border-radius: var(--br);
    cursor: pointer;
    font-size: 100%;
    font-weight: var(--fw-m);
    letter-spacing: 0.2em;
    line-height: 2.3em;
    min-width: 8em;
    height: 2.3em;
    text-align: center;
    padding: 0 var(--space-p);
}

.settingsBtn {
    position: fixed;
    right: 2em;
    top: 1em;
    display: block;
    --bg-color: 19 88.1% 57.1%;
    background-color: hsl(var(--bg-color));
    box-shadow: var(--b-shadow);
    --br: 0.3em;
    border-radius: var(--br);
    cursor: pointer;
    font-size: 100%;
    line-height: 2.3em;
    min-width: 2em;
    height: 2em;
    text-align: center;
    padding: 0 var(--space-p);
    z-index: 2;
    background-image: url(/resources/images/svg/configuration.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#settingsBtn {
    --bg-color: 220 60.0% 16.7%;
}

input[id='settingsBtn'] {
    --bg-color: 220 60.0% 16.7%;
    display: none;
}

#settingsBtn:checked~.overlayBox {
    display: flex;
}

button,
.button,
.boxBtn {
    box-shadow: var(--b-shadow);
    font-weight: var(--fw-n);
    line-height: 3em;
    min-width: 10em;
    max-width: 14em;
    height: 3em;
    margin: 2em auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.boxBtn {
    width: 50%;
    margin: 0;
}

.buttonLeft {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0;
}

.buttonRight {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0;
}

button,
.button a {
    color: rgb(255, 255, 255);
    outline: 0;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

button:focus,
.button:focus {
    outline: none;
}

.shareButton a:hover,
button:hover,
.button:hover,
.boxBtn:hover {
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}

.productLSBtn,
.productRSBtn,
.productBtn {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    box-shadow: var(--b-shadow);
    cursor: pointer;
    font-size: 300%;
    font-weight: var(--fw-n);
    line-height: 1em;
    width: 25%;
    height: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.productBtn {
    left: 25%;
    font-size: 100%;
    letter-spacing: 0.2em;
    line-height: 3em;
    width: 50%;
    height: 3em;
}

.productBtnActive {
    background-color: rgb(0, 126, 167);
}

.productRSBtn {
    left: auto;
    right: 0;
    background-color: rgb(0, 126, 167);
    color: rgb(255, 255, 255);
}

:is(.productLSBtn,
    .productRSBtn,
    .productLSBtnActive,
    .productRSBtnAktive) a {
    color: rgb(0, 0, 0);
    outline: 0;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.productLSBtnActive a,
.productRSBtnAktive a {
    color: rgb(255, 255, 255);
}

.productLSBtn:focus,
.productRSBtn:focus {
    outline: none;
}

.productLSBtn:hover,
.productRSBtn:hover {
    box-shadow: var(--b-shadow);
}