.overlay {
    color: rgba(0, 0, 0, 1);
    display: none;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 25em;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: var(--b-shadow);
    border-left: 0.1em solid rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.closeOverlayButton {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1em;
    left: 1em;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.slide {
    position: absolute;
    right: -25em;
    width: 100%;
    max-width: 25em;
    height: 100%;
    -webkit-animation: mySlide 0.5s forwards;
    animation: mySlide 0.5s forwards;
}

.js-overlay-start:hover {
    cursor: pointer;
}

.overlay-video {
    display: none;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -ms-transition: opacity 600ms ease-in;
    transition: opacity 600ms ease-in;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 999999;
}

.o1 {
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    transition: opacity 600ms ease-out;
    transition: opacity .6s;
}

.videoWrapperExt {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 982px;
    padding: 0 20px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.overlayBox_left {
    z-index: 1;
}

.overlayBox_left img {
    width: 100%;
    height: auto;
    box-shadow: var(--b-shadow);
}

.overlayBox {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    max-width: 40em;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    background-color: hsl(var(--bg-color));
    box-shadow: var(--b-shadow);
    padding: var(--space-p-medium);
    z-index: 2;
}


#overlayClose {
    --color: 0 0% 0%;
    width: 2.5em;
    height: 2.5em;
    color: var(--color);
    box-shadow: var(--b-shadow);
    text-align: center;
    border-radius: var(--br-r);
    cursor: pointer;
    line-height: 2.5rem;
    margin: 0 1em 0 0;
}

.overlayBox_right h3 {
    font-size: 150%;
    text-shadow: none;
    color: rgb(0, 0, 0);
    font-weight: var(--fw-m);
    letter-spacing: 0.1em;
}

.overlayBox_right p {
    width: 100%;
    font-size: 100%;
    --color: 0.61 7% 52%;
    color: hsl(var(--color));
    margin: 1em 0 1.5em 0;
    text-align: justify;
}

.styleOverlay {
    --color: 0 0% 0%;
    color: hsl(var(--color));
    background-color: hsl(var(--bg-color));
    overflow: hidden;
    padding: 0 0 6em 0;
    clear: both;

    h2 {
        font-size: 180% !important;
        text-align: center;
        text-shadow: none;
        --color: 0.61 12% 32%;
        color: hsl(var(--color));
        font-weight: var(--fw-n);
        margin: 0 0 0 0 !important;
        border-bottom: 0.1em solid hsl(var(--border-color) / 0.1)
    }

    h3 {
        text-align: left;
        font-size: 130%;
        font-weight: var(--fw-n);
        text-transform: capitalize;
        --color: 0 0% 20%;
        color: hsl(var(--color));
    }

    h4 {
        font-size: 115%;
        font-weight: var(--fw-n);
        text-transform: capitalize;
        color: hsl(var(--color));
    }

    p {
        font-size: 100%;
        --color: 0.61 7% 52%;
        color: hsl(var(--color));
    }

    a {
        --color: 0 0% %;
        color: hsl(var(--color));
        text-decoration: none;
        text-shadow: none;

        &:hover {
            transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        opacity: 0.3;
    }

    li {
        text-align: left;
        display: block;
        color: rgba(0, 0, 0, 1);
        display: flex;
        --border-color: 0 0 96%;
        border-bottom: 0.07em solid hsl(var(--border-color));
        margin: 1em 0.5em;
        padding: 0.5em 0;

        &:hover {
            --bg-color: 0 0 96%;
            background-color: hsl(var(--bg-color) / 0.8);
        }

        p {
            margin: 0 0 0 1em;
            font-size: 85%;
            font-weight: var(--fw-n);
        }

        img {
            margin: 0;
            max-width: 25px;
            height: 25px;
        }
    }

    .max {
        text-align: center;
        margin: 0 auto 55px;
        max-width: 600px;
    }
}

.bodyOverlay {
    display: none;
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --bg-color: 0 0% 0%;
    background-color: hsl(var(--bg-color) / 0.5);
    z-index: 3;
}