.indexBanner {
    background-image: linear-gradient(to left, var(--g-color) 0%, var(--g-color2) 100%);
    max-height: 38em;
    height: 100%;
    overflow: hidden;

    h2 {
        text-align: center;
        color: hsl(var(--color));
        font-weight: var(--font-weight-600);
        font-size: var(--font-size-5);
        margin: 6em 0 0 0;
        text-shadow: var(--shadow-1);
    }

    p {
        font-size: 120%;
        color: hsl(var(--color));
        width: 100%;
        margin: 1em auto;
        max-width: 500px;
        text-align: center;
    }
}