footer {
    .container {
        margin: 0 auto;
        justify-content: space-between;
    }
}

.footer {
    position: relative;
    overflow: hidden;
    padding: 0 0 var(--size-12) 0;
    clear: both;
    margin: 0;
    --g-color: 0 0% 23%;
    --g-color2: 0 0% 16%;
    background-image: linear-gradient(to right, hsl(var(--g-color)) 0%, hsl(var(--g-color2)) 100%);

    h2 {
        margin: 3em 0 0.5em 0;
        color: hsl(var(--color));
        font-weight: var(--font-weight-600);
        font-size: var(--font-size-5);
        text-align: left;
    }

    h3 {
        margin: 1em 0 0 0;
        color: hsl(var(--color));
        font-size: 100%;
        font-weight: var(--font-weight-800);
    }

    ul {
        display:flex;
        flex-direction: column;
        gap: 1em;

        li {
            overflow: hidden;
            list-style: none;
            padding: 0.5em 0;

            a {
                transition: all linear 0.15s;
                color: hsl(var(--color), 0.692);
                text-decoration: none;
                font-size: 85%;

                &:before {
                    margin: 0;
                }

                &:hover {
                    --color: 0.07, 11%, 95%;
                }
            }
        }
    }

    #contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        width: 100%;
        max-width: 45em;
        margin: 2em auto 0 auto;

    }
}

.subFooter {
    position: relative;
    overflow: hidden;
    padding: 0 0 var(--size-12) 0;
    clear: both;
    margin: 0;
    --color: 0.61 24% 84%;
    color: hsl(var(--color) / 0.5);
    border-top: 1px solid hsl(var(--border-color) / 0.1);
    --g-color: 0 0% 16%;
    --g-color2: 0 0% 12%;
    background-image: linear-gradient(to right, hsl(var(--g-color)) 0%, hsl(var(--g-color)) 50%, hsl(var(--g-color2)) 100%);
    padding: 0;

    .socialMedia {
        display: flex;
        gap: 1em;
    }

    .copyright {
        display: flex;
        align-items: center;

        p {
            font-size: var(--fs-s);
        }
    }
}
