.gallery {
    margin: 10em 0;
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    animation: 5s fade-in forwards;
    padding: 3em;
    overflow: hidden;
}

.gallery h2 {
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-600);
    text-align: center;
    --color: 0 0% 50%;
    color: hsl(var(--color));
    margin: 0 0 2em 0;
}

.gallery figure {
    position: relative;
    transition: all 0.25s ease-in-out;
    width: 100%;
    max-width: 40em;
    height: auto;
    margin: 1em 0;
}

.gallery figure img {
    box-shadow: var(--shadow-1);
    padding: 0.5em;
    width: 100%;
    border-radius: var(--size-3);
}

.gallery figure:hover {
    cursor: pointer;
    background-color: transparent;
    z-index: 2;
    transform: scale(1.1);
}

.gallery figcaption :is(h3, p) {
    position: absolute;
    left: 0.7em;
    bottom: 2em;
    color: rgb(255, 255, 255);
    font-weight: var(--font-weight-600);
    font-size: 150%;
    text-shadow: var(--shadow-1);
    overflow: hidden;
}

.gallery figcaption p {
    left: 0;
    bottom: 0;
    font-weight: var(--font-weight-400);
    font-size: 100%;
}