.project {
    background-image: linear-gradient(to left, var(--g-color) 0%, var(--g-color2) 100%);

    .container {
        margin: 5em auto;
        padding: 1em 6em;
        width: 80%;
    }

    .knowledge {
        width: 7em;
        height: 7em;
        margin: 5em auto;
    }

    img {
        padding: 1.5em;
        width: 100%;
    }

    figcaption {
        text-align: center;
        color: hsl(var(--color));
        font-weight: bolder;
        letter-spacing: 0.1em;
    }
}


.leftPanel {
    margin: 5em 0;
    width:50%;
    height:35em;
    position: relative;

    .box3d {
        transform: rotateY(20deg);
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 3em 1em 3em -1em rgb(0 0 0 / 30%);
        border-radius: 0.3em;

        }

    img {
        width: 100%;
        height: auto;
    }
}

.centerPanel {
    max-width: 5em; 
    height:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;    

    .box3d {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.rightPanel {
    margin: 5em 0;
    width:50%;
    height:35em;
    position: relative;

    .box3d {
        transform: rotateY(-20deg);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-shadow: -3em 1em 3em -1em rgb(0 0 0 / 30%);
        border-radius: 0.3em;

        img {
            width: 100%;
            height: auto;
        }

        h3 {
            text-align: center;
            padding: 2em 0 0 0;
        }

        p {
            padding: 0 1em;
        }

        details {
            color: hsl(0 0% 100%);
            padding: 0 1em;

            p {
                padding: 0;
            }

            &:hover {
                cursor: pointer;
            }

            &[open]>summary {
                background-color: #ccf;
            }

            &[open] ~ p {
                display:none;
            }

        }
    }
}

.project h2 {
    padding: 3em 0 0 0;
}

.project h3 {
    color: hsl(var(--color));
    font-weight: var(--fw-m);
    --fs-h3: 1.5rem;
    font-size: var(--fs-h3);
    overflow-wrap: break-word;
}

.project header p {
    text-align: center;
    color: hsl(var(--color));
    font-weight: var(--fw-n);
    font-size: var(--fs-p);
    width: 100%;
    height: auto;
    margin: 1.5em auto;
    padding: 0 1em;
}

.project p {
    color: hsl(var(--color));
    font-weight: var(--fw-n);
    font-size: var(--fs-p);
    width: 100%;
    height: auto;
    margin: 1.5em auto;
    padding: 0 1em;
}

.underConstruction {
    margin: 15% auto 0 auto;
    width: 5em;
}

.underConstruction img {
    width: 100%;
}

.underConstruction figcaption {
    --color: 0 0% 38%;
    color: hsl(var(--color) / 0.5);
    font-size: var(--fs-p);
}