.styleSimple {
    position: relative;
    background-color: hsl(var(--gray-0));
    overflow: hidden;
    padding: var(--size-12) 0;
    clear: both;

    h2,
    h3,
    h4 {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 150%;
        font-weight: var(--font-weight-400);
        --color: 0.61 0.12 0.32;
        color: hsl(var(--color));
        text-align: center;
        line-height: 1.2em;
        margin: var(--size-3) 0;
    }

    h2 {
        font-size: var(--font-size-5);
        text-shadow: var(--shadow-1);
        margin: var(--size-2) 0 var(--size-7) 0;
    }

    h3 {
        font-size: var(--font-size-4);
    }

    h4 {
        font-size: 130%;
        margin: var(--size-3) 0 0 0;
    }

    p {
        font-size: var(--font-size-1);
        --color: 0 0% 33%;
        color: hsl(var(--color));
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .circleImg {
        border-radius: var(--radius-round);
        width: 20vw;
        height: 20vw;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: var(--shadow-1);
        position: relative;
    }
}